%% -*- mode: erlang -*-
{sub_dirs, ["apps/*"]}.

%% Compiler Options ==================================================
{erl_opts,
 [debug_info,
  warnings_as_erros,
  {parse_transform, lager_transform},
  {i, "include"},
  {src_dirs, ["src", "tests"]}
 ]
}.

%% Dependencies ======================================================
{deps,
 [{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {ranch, ".*", {git, "git://github.com/extend/ranch.git", {branch, "master"}}},
  {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "master"}}}
 ]
}.

%% EUnit =============================================================
{eunit_opts,
    [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
